<%= content_tag_for :li, user do %>
	
	<ul class="instance_detail">
		<div class="user_details">
			<%= content_tag :li, user.first_name %>
			<%= content_tag :li, user.last_name  %>
			<%= content_tag :li, user.email, class: "user_email" %>


			<!-- button to approve users -->
			<%= form_for user, :html => {:class => 'user_ajax_edit'}, :url => { :controller => "users", :action => :update, id: user.id }, remote: true do |a| %>		
				<%= a.select :approved, [['Approved', true], ['Not Approved Yet', false]] %>
				<%= content_tag :div, user_approved_status(user), class: "user_approval_status index_form_btns #{green_if_approved(user)}" %>
			<% end %>

		</div>
		
		<%= render "shared/crud_btns", object: user %>

		<div class="user_message">
			<!-- dynamic form for picking user status -->
			<% @roles = Role.all %>
			<% @roles.each do |role| %>
				<% if user.role_ids.include?(role.id) %>
					<%= content_tag :div, role.name, class: "user_roles #{green_if_role(user, role.id)}" %>
				<% end %>
			<% end %>

		</div>

	</ul>

<% end %>
